@use 'variables' as *;
@use 'queries' as*;
@use 'animaciones' as *;

h1 {
    color:$color-primero;
    text-transform:uppercase;
    font-family:$fuente-titulos;
}

h2, h3 {
    color: $color-segundo;
    font-family:$fuente-subtitulos;
}

p{
    color:$color-segundo;
    font-family:$fuente-textos;
}

.MD-titulo-home{
    font-size: 1.5rem;
    background-image:url(../assets/fondoh1.webp);
    background-size:cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip:text;
    color:transparent;
    animation: animacion-mainhero 6s forwards;

    @include mobile{
        font-size:8rem;
        padding-bottom:2rem;
    }
    @include desktop{
        font-size: 12rem;
    }
}

.MD-footer-texto1{
    font-size:14px;
    color:$color-cuarto;
}
