@use 'variables' as *;
@use 'queries' as*;

h1 {
    color:$color-primero;
    text-transform:uppercase;
    font-family:$fuente-titulos;
}

h2, h3 {
    color: $color-segundo;
    font-family:$fuente-subtitulos;
}

p{
    color:$color-segundo;
    font-family:$fuente-textos;
}

.MD-titulo-home{
    font-size: 1.5rem;
    @include mobile{
        font-size:8rem;
        padding-bottom:2rem;
    }
    @include desktop{
        font-size: 12rem;
    }
}

.MD-footer-texto1{
    font-size:14px;
    color:$color-cuarto;
}
