@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;500;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: whitesmoke;
    font-family: "Hind Guntur", sans-serif;
}

h1
{color:rgb(187, 16, 16);
text-transform: uppercase;
font-family: "Oswald", sans-serif;
}

.titulo-home{
    font-size: 12rem;
    padding-bottom: 2rem;
}

h2{
    color: black;
    text-transform: uppercase;
    font-family: "Hind Guntur", sans-serif;
}

h3{
    color: black;
    text-transform: capitalize;
}

p{
    color: black;
    font-family: "Nunito Sans", sans-serif;
}

button{
    background-color: whitesmoke;
}

nav{
    background-size: cover;
    background-color: black;
    opacity: 0.92;
}

.MD-navbar-button{
    color: whitesmoke;
}

.MD-navbar-button:hover{
    color:rgb(187, 16, 16);
    font-size: 17px;
}

.MD-footer-button{
    color: whitesmoke;
    font-size: 2rem;
}

.MD-footer-button:hover{
    color:rgb(187, 16, 16);
    font-size: 2.25rem;
}

.main-hero{
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    text-align:left;
    block-size: 36rem;
    padding-left: 2rem;
    display:flex;
    align-items: last baseline;
}

.secondary-hero{
    background-color: black;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
    block-size: 8rem;
    padding-left: 2rem;
    display:flex;
    align-items: last baseline
}

footer{
    background-color: black;
    block-size: 16rem;
    p{color: #f3f3f3;}
}

.MD-footer-texto1{
    color: rgb(146, 146, 146);
    font-size: 14px;
}

#icon-steam{
    width: 32px;
    height: 32px;
    color: #B5A8AA;
    filter: invert(70%);
}

#icon-xbox{
    width: 32px;
    height: 32px;
    color: #B5A8AA;
    filter: invert(70%);
}

#icon-epic{
    width: 32px;
    height: 32px;
    color: #B5A8AA;
    filter: invert(70%);
}

#icon-twitter{
    height: 32px;
    color: #B5A8AA;
    filter: invert(30%);    
}

#icon-google{
    height: 32px;
    color: #B5A8AA;
    filter: invert(30%);
}

#icon-facebook{
    height: 44px;
    color: #B5A8AA;
    filter: invert(30%);
}

#icon-comment{
    height: 32px;
    color: #B5A8AA;
    filter: invert(30%);
}

.nav-numeros{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    align-items: baseline;
}

.nav-numeros-li{
    width: 5px;
    height: 25px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: #1C0804 solid;
    border-radius: 50px;
}

.contenedor-cards{
       border: #1C0804 solid;
       border-radius: 30px;
       padding: 1rem;
}

.contenedor-cards-card{
    border: #573731 solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.like-comment-share{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.like-status{
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.comment-status{
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.share-status{
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-foro{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "foro-discusiones foro-discusiones foro-sidebar";
}

.foro-discusiones{
    grid-area: foro-discusiones;
}

.foro-sidebar{
    grid-area: foro-sidebar;
}

/* Fondo de tabla personalizado--PROFES, ESTO LO GOOGLEE PERO LO APLIQUÉ SIN ENTENDER QUÉ SIGNIFICA ESA PROPIEDAD, Pero funciona. */
.MD-table-requisitos{
    --bs-table-bg:whitesmoke;
}